@font-face {
    font-family: 'Atyp Display';
    src: url(Fonts/) format("truetype");
}

body {
    background-color: #161616;
    font-family: 'Atyp Display', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;

}
.logo {
    fill: #EDEDED;
    width:100px ;}
.navbar a{
    text-decoration: none;
    color: #EDEDED;
    font-size: 25px;
    font-weight: 200;
    padding: 15px;
}
.navbar a:hover {
    color: #EDEDED;
    font-weight: 450;
}