@font-face {
    font-family: 'Atyp Display';
    src: url(Fonts/) format("truetype");
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: #161616;
    font-family: 'Atyp Display', sans-serif;
    cursor: url('../resources/mouse.png'), auto;
}
a:hover {
    cursor: url('../resources/hovermouse.png'), pointer;
}

/*.cursor_follower {
    width: 20px;
    height: 20px;
    background-color: #eea827; 
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; 
    z-index: 10000; 
    transition: transform 0.1s ease-out; 
    transform: translate(-50%, -50%); */





header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;

}
.logo {
    width:100px ;}
.navbar a{
    text-decoration: none;
    color: #EDEDED;
    font-size: 25px;
    font-weight: 200;
    padding: 20px;
}
.navbar a:hover {
    color: #EDEDED;
    font-weight: 450;
}
.navbar a.active {
    color: #EDEDED;
    font-weight: 450;
}

