:variable{
    --element-size:90%;
}
body{
    display: flex;
    min-height: 100vh;
}
aside{
    flex: 0 0 250px;
    border-width: 0px;
    /* background-image: linear-gradient( */
    /* 90deg, */
    /* rgb(119 0 255 / 39%), */
    /* rgb(0 212 255 / 25%) */
    /* ); */
    div {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	background-color:white;
	width: 90%;
    border-radius: 7px
    }
}
main{
    flex :1;
    /* background-image: */
    background-image: url("https://www.turkey-visit.com/map/world/amp/world_maps.jpg");
    background-size:cover;

}

aside div p:first-child{
    border-bottom:2px solid black;
}

aside div p{
    padding: 5px;
    width: 80%;
}

/* will add an id */
main div{
    background-color: white;
    text-align:center;
    width: 150px;
    height: 20px;
    border-radius: 15px;
    position:absolute;
    top:30px;
    right:30px;
}
